*{
    margin: 0;
    padding: 0;
}
body{
    background:url("../images/gddh.jpg") ;
    background-size: cover;
}
div{
    width: 800px;
    height: 200px;
    margin: 300px auto;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
}
ul{
    width: 2400px;
    height: 200px;
    background-color: black;
    animation: picture 5s linear 0s infinite normal;
}
ul:hover{
    animation-play-state: paused;
    /*控制动画停止*/
}
ul:hover li{
    opacity: 0.5;
    /*设置透明度*/
}
ul li:hover{
    opacity: 1;
    /*设置透明度*/
}
@keyframes picture {
    from{
        margin-left: 0px;
    }
    to{
        margin-left: -1600px;
    }
}
ul li{
    list-style: none;
    width: 400px;
    height: 200px;
    background-color: blue;
    float: left;
}