
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul
{
    margin:0;
    padding:0;
}
body{
    font-size: 20px;
    flood-color: #ccc;
    font-style: normal;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
    text-align: center;
}
.box1{
    /*width:1349px;*/
    width:1100px;
    height: 105px;
    background-image: url("../images/bg.png");
}
.box2{
    width: 1349px;
    height: 450px;
    /*background-color: red;*/
    margin-top: 10px;
}
.box3{
    width: 1349px;
    height: 70px;
    background-color: green;
    margin-top: 10px;
}
.top{
    width:1349px;
    height: 105px;
    background-image: url(../images/logo.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
}
.topright{
    float: right;
    width: 200px;
    height: 105px;
    overflow: hidden;
    clear: right;

}
.topright ul li{
    width: 30px;
    height: 20px;
    float: right;

}
.box2left{
    width: 390px;
    height: 450px;
    background-color: yellow;
    float: left;
    overflow: hidden;
}
.ul1{
    width: 380px;
    height: 200px;
    margin-top: 50px;
}
.box2left>ul>li{
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.box2right{
    width: 939px;
    height: 450px;
    background-color: aquamarine;
    float: right;
}
.box2right>ul{
    width: 850px;
    height: 410px;
    margin: 0 auto;
    margin-top: 20px;
}
.box2right>ul>li {
    float: left;
    width: 400px;
    height: 200px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.box2right>ul>li>video{
    display:inline-block;
    width: 400px;
    height: 200px;
}