*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/cft.jpg");
    background-size: cover;
}
ul{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    position: relative;
    background-color: red;
    transform-style: preserve-3d;
    animation: sport 5s linear 0s infinite normal;
}
ul li{
    width: 200px;
    height: 200px;
    position: absolute;
    list-style: none;
    text-align: center;
    line-height: 200px;
    font-size: 80px;

}
ul li:nth-child(1){
    background-color: red;
    transform:scale(2,1) rotateX(90deg) translateZ(100px);
}
ul li:nth-child(2){
    background-color: green;
    transform:scale(2,1) rotateX(180deg) translateZ(100px);
}
ul li:nth-child(3){
    background-color: blue;
    transform:scale(2,1) rotateX(270deg) translateZ(100px);
}
ul li:nth-child(4){
    background-color: yellow;
    transform:scale(2,1) rotateX(360deg) translateZ(100px);
}
ul li:nth-child(5){
    background-color: pink;
    transform: translateX(200px) rotateY(90deg)  ;
}
ul li:nth-child(6){
    background-color: purple;
    transform:translateX(-200px) rotateY(90deg) ;
}
@keyframes sport {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}